*{
    background-color: rgb(66, 26, 87);
}

.head{
    display: flex;
    gap: 20px;
}
.head {
  text-align: center;
  padding: 20px;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.contact-card {
  margin-top: 80px;
  padding: 20px;
  display: inline-block;
  border: 2px solid white;
  border-radius: 10px;
  align-items: center;
  position: absolute;
  top: 150px;
  margin-left: 600px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit:cover;
  margin-bottom: 15px;
}